/*-----------------------------------------------------------------------------------
	MANI GENEROSE
	About: A shiny new Blocs website.
	Author: Norman Sheeran
	Version: 1.0
	Built with Blocs
-----------------------------------------------------------------------------------*/
body{
	margin:0;
	padding:0;
    background:var(--swatch-var-Background);
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-container{overflow: hidden;} /* Prevents unwanted scroll space when scroll FX used. */
a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent blue selection glow on Chrome and Safari */
a:hover{text-decoration: none; cursor:pointer;}
.scroll-fx-lock-init{position:fixed!important;top: 0;bottom: 0;left: :0;right: 0;z-index:99999;} /* ScrollFX Lock */
.blocs-grid-container{display: grid!important;grid-template-columns: 1fr 1fr;grid-template-rows: auto auto;column-gap: 1.5rem;row-gap: 1.5rem;} /* CSS Grid */


/* Preloader */

.page-preloader{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;animation-name: preloader-fade;animation-delay: 2s;animation-duration: 0.5s;animation-fill-mode: both;}
.preloader-complete{animation-delay:0.1s;}
@keyframes preloader-fade {0% {opacity: 1;visibility: visible;}100% {opacity: 0;visibility: hidden;}}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 20px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	display:flex;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
	position:relative;
}


/* Sizes */

.bloc-lg{
	padding:100px 20px;
}
.bloc-md{
	padding:50px 20px;
}
.bloc-sm{
	padding:20px;
}

/* = Full Screen Blocs 
-------------------------------------------------------------- */

.bloc-fill-screen{
	min-height:100vh;
	display: flex;
	flex-direction: column;
	padding-top:20px;
	padding-bottom:20px;
}
.bloc-fill-screen > .container{
	align-self: flex-middle;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
}
.bloc-fill-screen > .container > .row{
	flex-grow: 1;
	align-self: center;
	width:100%;
}
.bloc-fill-screen .fill-bloc-top-edge, .bloc-fill-screen .fill-bloc-bottom-edge{
	flex-grow: 0;
}
.bloc-fill-screen .fill-bloc-top-edge{
	align-self: flex-start;
}
.bloc-fill-screen .fill-bloc-bottom-edge{
	align-self: flex-end;
}

/* = Full Width Blocs 
-------------------------------------------------------------- */

.full-width-bloc{
	padding-left:0;
	padding-right:0;
}
.full-width-bloc .row{
	margin-left:0;
	margin-right:0;
}
.full-width-bloc .container{
	width:100%;
	max-width:100%!important;
}
.full-width-bloc .carousel img{
	width:100%;
	height:auto;
}


/* Background Effects */

.parallax__container {
	clip: rect(0, auto, auto, 0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:-1;
}
.parallax {
	position: fixed;
	top: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
	color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .card{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .card icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .card .btn-wire, .d-bloc .card .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-bloc .card,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .btn-wire,.d-bloc .card .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* = NavBar
-------------------------------------------------------------- */

/* = Sticky Nav
-------------------------------------------------------------- */

.sticky-nav.sticky{
	position:fixed;
	top:0;
	z-index:1000;
	box-shadow:0 1px 2px rgba(0,0,0,.3);
	 transition: all .2s ease-out;
}
/* Navbar Icon */
.svg-menu-icon{
	fill: none;
	stroke: rgba(0,0,0,0.5);
	stroke-width: 2px;
	fill-rule: evenodd;
}
.navbar-dark .svg-menu-icon{
	stroke: rgba(255,255,255,0.5);
}
.menu-icon-thin-bars{
	stroke-width: 1px;
}
.menu-icon-thick-bars{
	stroke-width: 5px;
}
.menu-icon-rounded-bars{
	stroke-width: 3px;
	stroke-linecap: round;
}
.menu-icon-filled{
	fill: rgba(0,0,0,0.5);
	stroke-width: 0px;
}
.navbar-dark .menu-icon-filled{
	fill: rgba(255,255,255,0.5);
}
.navbar-toggler-icon{
	background: none!important;
	pointer-events: none;
	width: 33px;
	height: 33px;
}
/* Handle Multi Level Navigation */
.dropdown-menu .dropdown-menu{
	border:none}
@media (min-width:576px){
	
.navbar-expand-sm .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-sm .dropdown-menu .submenu-left{
	right:100%;
	left:auto}}@media (min-width:768px){
	.navbar-expand-md .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-md .dropdown-menu .submenu-left{
	right:100%;
	left:auto}}@media (min-width:992px){
	.navbar-expand-lg .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-lg .dropdown-menu .submenu-left{
	right:100%;
	left:auto}
}
/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-rd{
	border-radius: 40px;
}
.btn-clean{
	border:1px solid rgba(0,0,0,.08);
	border-bottom-color:rgba(0,0,0,.1);
	text-shadow:0 1px 0 rgba(0,0,1,.1);
	box-shadow: 0 1px 3px rgba(0,0,1,.25), inset 0 1px 0 0 rgba(255,255,255,.15);
}
.a-block{
	width:100%;
	text-align:left;
	display: inline-block;
}
.text-center .a-block{
	text-align:center;
}
.btn .caret{
	margin:0 0 0 5px}.dropdown a .caret{
	margin:0 0 0 5px}.btn-dropdown .dropdown-menu .dropdown{
	padding: 3px 20px;
}

/* = Icons
-------------------------------------------------------------- */
.icon-md{
	font-size:30px!important;
}

/*  Rounded Image */
.img-rd-md{
	border-radius:20px;
}
.img-rd-lg{
	border-radius:34px;
}

/* = Text & Icon Styles
-------------------------------------------------------------- */
.sm-shadow{
	text-shadow:0 1px 2px rgba(0,0,0,.3);
}
.lg-shadow{
	text-shadow:0 2px 5px rgba(0,0,0,.5);
}


/* = Cards
-------------------------------------------------------------- */
.card-sq, .card-sq .card-header, .card-sq .card-footer{
	border-radius:0;
}
.card-rd{
	border-radius:30px;
}
.card-rd .card-header{
	border-radius:29px 29px 0 0;
}
.card-rd .card-footer{
	border-radius:0 0 29px 29px;
}
/* = Masonary
-------------------------------------------------------------- */
.card-columns .card {
	margin-bottom: 0.75rem;
}
@media (min-width: 576px) {
	.card-columns {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 1.25rem;
	-moz-column-gap: 1.25rem;
	column-gap: 1.25rem;
	orphans: 1;
	widows: 1;
}
.card-columns .card {
	display: inline-block;
	width: 100%;
}
}

/* = Forms
-------------------------------------------------------------- */

.form-control{
	border-color:rgba(0,0,0,.1);
	box-shadow:none;
}

/* Scroll FX */
.scroll-fx-in-range{
	will-change: opacity;
}


/* ScrollToTop button */

.scrollToTop{
	width:36px;
	height:36px;
	padding:5px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity:0;
	z-index:999;
	transition: all .3s ease-in-out;
	pointer-events:none;
}
.showScrollTop{
	opacity: 1;
	pointer-events:all;
}
.scroll-to-top-btn-icon{
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
	fill-rule: evenodd;
	stroke-linecap:round;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"Helvetica";
}
.container{
	max-width:1140px;
}
.bento-box{
	background-color:var(--swatch-var-White);
	width:100%;
	position:relative;
	padding:40px 40px 40px 40px;
	border-radius:30px 30px 30px 30px;
}
.mini-heading{
	font-size:20px;
	font-weight:600;
	text-transform:uppercase;
}
.box-info{
	font-size:22px;
}
.section-heading{
	font-size:40px;
	font-weight:600;
}
.avatar{
	width:150px;
	border-radius:100px 100px 100px 100px;
}
.primary-gradient{
	background:linear-gradient(335deg, var(--swatch-var-Primary)  0%, var(--swatch-var-Primary-Variant) 100%);
}
.brand{
	font-weight:600;
}
.primary-text{
	background-clip:text!important;
	-webkit-background-clip:text!important;
	background:linear-gradient(90deg, var(--swatch-var-Primary-Variant) 0%, var(--swatch-var-Primary) 100%);
	color:transparent!important;
	display:inline-block;
	font-family:"Poppins";
	font-weight:500;
}
.box-heading{
	font-size:36px;
	font-weight:600;
}
.arrow-btn{
	width:40px;
	position:absolute;
	right:20px;
	bottom:20px;
	height:40px;
	opacity:0.5;
}
.orange-gradient{
	background:linear-gradient(168deg, #FA7A01 0%, #BA2E0A 100%);
}
.md-box-img{
	max-width:100px;
}
.blue-gradient{
	background:linear-gradient(309deg, #0CADF4 0%, #1970EC 100%);
}
.sm-box-img{
	max-width:60px;
}
.alt-bottom-padding{
	padding-bottom:25px;
}
.sm-box-heading{
	font-size:18px;
}
.md-box-heading{
	font-weight:600;
}
.sm-arrow{
	max-width:30px;
	bottom:15px;
	right:20px;
}
.box-bg-1{
	background-image:url("img/graphic-1.jpg");
	background-image: -webkit-image-set(url("img/graphic-1.webp") 1x,
url("img/graphic-1.webp") 2x);background-image: image-set(url("img/graphic-1.jpg") 1x,
url("img/graphic-1.jpg") 2x,url("img/graphic-1.webp") 1x,
url("img/graphic-1.webp") 2x);
}
.box-bg-3{
	background-image:url("img/graphic-4.jpg");
	background-image: -webkit-image-set(url("img/graphic-4.webp") 1x,
url("img/graphic-4.webp") 2x);background-image: image-set(url("img/graphic-4.jpg") 1x,
url("img/graphic-4.jpg") 2x,url("img/graphic-4.webp") 1x,
url("img/graphic-4.webp") 2x);
}
.bg-img-box{
	height:500px;
	background-size:cover;
}
.box-bg-4{
	background-image:url("img/graphic-3.jpg");
	background-image: -webkit-image-set(url("img/graphic-3.webp") 1x,
url("img/graphic-3.webp") 2x);background-image: image-set(url("img/graphic-3.jpg") 1x,
url("img/graphic-3.jpg") 2x,url("img/graphic-3.webp") 1x,
url("img/graphic-3.webp") 2x);
}
.box-bg-2{
	background-image:url("img/graphic-2.jpg");
	background-image: -webkit-image-set(url("img/graphic-2.webp") 1x,
url("img/graphic-2.webp") 2x);background-image: image-set(url("img/graphic-2.jpg") 1x,
url("img/graphic-2.jpg") 2x,url("img/graphic-2.webp") 1x,
url("img/graphic-2.webp") 2x);
}
.gradient-heading{
	background:linear-gradient(269deg, rgba(255,255,255,0.32) 0%, #FFFFFF 100%);
	background-clip:text!important;
	-webkit-background-clip:text!important;
	color:transparent!important;
	display:inline-block;
}
.token-link{
	font-weight:500;
	text-decoration:none;
	font-size:18px;
	background-color:rgba(0,0,0,0.03);
	color:var(--swatch-var-Black)!important;
	background-size:auto auto;
	display:inline-block;
	margin-right:10px;
	padding:5px 20px 5px 20px;
	border-radius:30px 30px 30px 30px;
	font-family:"Poppins";
}
.arrow-btn:hover{
	opacity:1;
}
.token-link:hover{
	background-color:var(--swatch-var-Primary);
	color:var(--swatch-var-White)!important;
	background:linear-gradient(314deg, var(--swatch-var-Primary)  0%, var(--swatch-var-Primary-Variant) 100%);
}
.navbar-nav li a{
	font-size:18px;
	font-weight:600;
}
.box-btn{
	padding-left:30px;
	padding-right:30px;
	font-weight:600;
	border-width:0px 0px 0px 0px;
}
.overlay-heading{
	position:absolute;
	z-index:100;
	left:60px;
	top:60px;
}
.primary-btn{
	background:linear-gradient(335deg, var(--swatch-var-Primary) 0%, var(--swatch-var-Primary-Variant) 100%);
	color:var(--swatch-var-White)!important;
	font-family:"Poppins";
	font-weight:500;
}
.primary-btn:hover{
	background:linear-gradient(128deg, var(--swatch-var-Primary)  0%, var(--swatch-var-Primary-Variant) 100%);
	color:var(--swatch-var-White)!important;
}
.active-token{
	background:linear-gradient(314deg, var(--swatch-var-Primary)  0%, var(--swatch-var-Primary-Variant) 100%);
	color:var(--swatch-var-White)!important;
}
.scrollToTop{
	background:linear-gradient(335deg, var(--swatch-var-Primary) 0%, var(--swatch-var-Primary-Variant) 100%);
	border-radius:8px 8px 8px 8px;
	border-width:0px 0px 0px 0px;
}
.scrollToTop:hover{
	background:linear-gradient(0deg, var(--swatch-var-Primary) 0%, var(--swatch-var-Primary-Variant) 100%);
}
.sticky.sticky-nav{
	backdrop-filter:blur(30px);
	-webkit-backdrop-filter:blur(30px);
	background-color:rgba(255,255,255,0.30);
}
h1,h2,h3,h4,h5,h6{
	font-family:"Lato";
}
.btn-style{
	width:44.22%;
	border-radius:25px 25px 25px 25px;
}
.btn-iscriviti-style{
	width:100%;
}
.link-style{
	font-weight:bold;
	font-style:normal;
}
.link-utente-style{
	font-weight:bold;
}
.h1-2-style{
	font-family:"Poppins";
	font-size:70px;
	font-weight:700;
}
.h3-style{
	font-family:"Poppins";
	font-weight:500;
	font-size:30px;
}
.h6-style{
	width:32.38%;
	font-size:18px;
	font-family:"Poppins";
	font-weight:500;
}
.img-style{
	width:521px;
	border-radius:42px 42px 42px 42px;
	height:450px;
}
.h1-style{
	font-family:"Josefin Sans";
	font-weight:500;
}
.img-bloc-3-style{
	height:450px;
	width:500px;
}
.h1-ciao-vinny-style{
	font-family:"Josefin Sans";
}
.img-image-ambulato-style{
	height:450px;
}
.h1-lilt-style{
	font-family:"Josefin Sans";
}
.img-dcm-logo-reta-style{
	height:450px;
	width:505px;
}
.h1-retake-style{
	font-family:"Josefin Sans";
}
.img-bloc-6-style{
	height:450px;
	width:500px;
}
.h1-seconda-mamma-style{
	font-family:"Josefin Sans";
}
.h4-style{
	width:67.5%;
	font-size:30px;
	font-family:"Poppins";
	font-weight:500;
}
.container-div-style{
	height:167px;
}
.field-style{
	height:81px;
}
.field-bloc-12-style{
	width:90.23%;
}
.field-0-style{
	width:90.6%;
}
.p-style{
	font-family:"Poppins";
	font-weight:500;
}
.img-bloc-4-style{
	width:950px;
	height:450px;
}
.p-bloc-7-style{
	font-family:"Poppins";
	font-weight:500;
}
.p-bloc-8-style{
	font-family:"Poppins";
	font-weight:500;
}
.p-bloc-9-style{
	font-family:"Poppins";
	font-weight:500;
}
.p-bloc-10-style{
	font-family:"Poppins";
	font-weight:500;
}
.container-div-0-style{
	height:495px;
}
.img-logo-style{
	width:150px;
	height:120px;
}
.navbar-brand img{
	width:60px;
	height:50px;
}
.label-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-messaggio-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-e-mail-style{
	font-family:"Poppins";
	font-weight:500;
}
.h5-style{
	font-family:"Poppins";
	font-weight:500;
}
.row-style{
	width:94.95%;
}
.row-bloc-6-style{
	width:95.69%;
}
.p-bloc-4-style{
	font-family:"Poppins";
	font-weight:500;
}
.p-15-style{
	font-family:"Poppins";
	font-weight:500;
}
.h3-bloc-2-style{
	font-family:"Poppins";
	font-weight:500;
}
.p-bloc-2-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-email-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-password-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-3-style{
	font-family:"Poppins";
	font-weight:500;
}
.h3-serve-aiuto--style{
	font-family:"Poppins";
	font-weight:500;
}
.p-14-style{
	font-family:"Poppins";
	font-weight:500;
}
.h6-bloc-2-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-nome-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-cognome-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-bloc-2-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-7-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-8-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-9-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-10-style{
	font-family:"Poppins";
	font-weight:500;
}
.h4-bloc-2-style{
	font-family:"Poppins";
	font-weight:500;
}
.h6-5-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-11-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-sede-legale-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-codice-fiscale-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-link-sito-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-descrizione-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-16-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-17-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-18-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-19-style{
	font-family:"Poppins";
	font-weight:500;
}
.label-immagine-style{
	font-family:"Poppins";
	font-weight:500;
}
.h3-bloc-4-style{
	font-family:"Poppins";
	font-weight:500;
}
.link-bloc-1-style{
	font-family:"Poppins";
	font-weight:500;
}
.img-21-style{
	width:300px;
	height:250px;
}
.container-div-bloc-2-style{
	height:470px;
}
.img-32-style{
	width:300px;
	height:250px;
}
.container-div-0-bloc-2-style{
	height:470px;
}
.container-div-bloc-4-style{
	height:246px;
}
.h1-su-di-noi-style{
	font-family:"Poppins";
	font-weight:500;
}
.h1-bloc-4-style{
	font-family:"Poppins";
	font-weight:500;
}

/* = Colour
-------------------------------------------------------------- */

/* Swatch Variables */
:root{
	
	--swatch-var-White:rgba(255,255,255,1.00);
  
	--swatch-var-ColorYellow: #FFFFC1;
	
	--swatch-var-Background:rgba(245,245,247,1.00);
	
	--swatch-var-Black:rgba(0,0,0,1.00);
	
	--swatch-var-Black-05:rgba(0,0,0,0.40);
	
	--swatch-var-Primary:rgba(255,147,0,1.00);
	
	--swatch-var-Primary-Variant:rgba(255,38,0,1.00);
	
	--swatch-var-Swatch-Senza-Nome:#000000;
	
	--swatch-var-Swatch-Senza-Nome-copy-1:#FFFFFF;
	
	--swatch-var-Swatch-Senza-Nome-copy-2:#EFD781;
	
	--swatch-var-Swatch-Senza-Nome-copy-3:#96CAF7;
	
	--swatch-var-Swatch-Senza-Nome-copy-4:#D10C0C;
	
	--swatch-var-Swatch-Senza-Nome-copy-5:#E00FDC;
	
	--swatch-var-Swatch-Senza-Nome-copy-6:#F4ADEB;
	
	--swatch-var-Swatch-Senza-Nome-copy-7:rgba(247,9,9,0.4);
	
}


/* Background colour styles */

.bgc-3849{
	background-color:var(--swatch-var-White);
}

.bgc-Yellow{
	background-color:var(--swatch-var-ColorYellow);
}

/* Text colour styles */

.tc-6153{
	color:var(--swatch-var-Black-05)!important;
}
.tc-2190{
	color:var(--swatch-var-Black)!important;
}
.tc-3849{
	color:var(--swatch-var-White)!important;
}
.tc-7963{
	color:var(--swatch-var-Swatch-Senza-Nome)!important;
}
.tc-6332{
	color:var(--swatch-var-Swatch-Senza-Nome-copy-1)!important;
}

/* Link colour styles */

.ltc-7963{
	color:var(--swatch-var-Swatch-Senza-Nome)!important;
}
.ltc-7963:hover{
	color:#000000!important;
}
.ltc-2190{
	color:var(--swatch-var-Black)!important;
}
.ltc-2190:hover{
	color:#000000!important;
}

/* Bloc image backgrounds */

.bg-Comunità{
	background-image:url("img/Comunita%CC%80.jpg");
}



/* = Bloc Padding Multi Breakpoint
-------------------------------------------------------------- */

@media (min-width: 576px) {
    .bloc-xxl-sm{padding:200px 20px;}
    .bloc-xl-sm{padding:150px 20px;}
    .bloc-lg-sm{padding:100px 20px;}
    .bloc-md-sm{padding:50px 20px;}
    .bloc-sm-sm{padding:20px;}
    .bloc-no-padding-sm{padding:0 20px;}
}
@media (min-width: 768px) {
    .bloc-xxl-md{padding:200px 20px;}
    .bloc-xl-md{padding:150px 20px;}
    .bloc-lg-md{padding:100px 20px;}
    .bloc-md-md{padding:50px 20px;}
    .bloc-sm-md{padding:20px 20px;}
    .bloc-no-padding-md{padding:0 20px;}
}
@media (min-width: 992px) {
    .bloc-xxl-lg{padding:200px 20px;}
    .bloc-xl-lg{padding:150px 20px;}
    .bloc-lg-lg{padding:100px 20px;}
    .bloc-md-lg{padding:50px 20px;}
    .bloc-sm-lg{padding:20px;}
    .bloc-no-padding-lg{padding:0 20px;}
}


/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 991px)
{
    .container{width:100%;}
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
}
@media (max-width: 767px)
{
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 991px){
	.avatar{
		width:120px;
	}
	.token-link{
		margin-bottom:10px;
	}
	.bg-img-box{
		height:350px;
	}
	.bento-box{
		padding:30px 30px 30px 30px;
	}
	
}

@media (max-width: 767px){
	.token-link{
		font-size:16px;
	}
	.bento-box{
		padding:30px 30px 30px 30px;
	}
	.box-heading{
		font-size:30px;
	}
	.box-info{
		font-size:20px;
	}
	.bg-img-box{
		height:250px;
	}
	.overlay-heading{
		top:50px;
		left:50px;
	}
	
}

@media (max-width: 575px){
	.token-link{
		font-size:14px;
		padding-right:15px;
		padding-left:15px;
	}
	.bento-box{
		padding:20px 20px 20px 20px;
	}
	.box-info{
		font-size:18px;
	}
	.section-heading{
		font-size:30px;
	}
	.bg-img-box{
		height:300px;
	}
	.sm-arrow{
		bottom:10px;
		right:15px;
	}
	.overlay-heading{
		left:30px;
		top:30px;
	}
	.fill-mob-btn{
		width:100%;
	}
	.primary-btn{
	}
	
}

